@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;600;700&display=swap');

@import '~@angular/material/theming';
@import "colors";

$primary-palette: mat-palette($dark-turquoise-palette);
$primary: $dark-turquoise;
$secondary-palette: mat-palette($cream-palette);
$secondary: $cream;
$accent-palette: mat-palette($space-cadette-palette);
$accent: $space-cadet;
$text: $space-cadet;
$warn-palette: mat-palette($crimson-palette);
$warn: $crimson;

// Create the theme object (a Sass map containing all of the palettes).
$base-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
$mat-light-theme-foreground: (
  base:              $text,
  divider:           rgba($text, 0.12),
  dividers:          rgba($text, 0.12),
  disabled:          rgba($text, 0.38),
  disabled-button:   rgba($text, 0.38),
  disabled-text:     rgba($text, 0.38),
  hint-text:         rgba($text, 0.38),
  secondary-text:    rgba($text, 0.54),
  icon:              rgba($text, 0.54),
  icons:             rgba($text, 0.54),
  text:              rgba($text, 0.87),
  slider-off:        rgba($text, 0.26),
  slider-off-active: rgba($text, 0.38),
);
$theme: map-merge($base-theme, (foreground: $mat-light-theme-foreground));

// Create custom typography
$typography: mat-typography-config(
    $font-family: 'Raleway, sans-serif'
);

@font-face {
  font-family: 'Raleway', sans-serif;
}

$blue-background-gradient: linear-gradient(-45deg, 
rgb(35, 213, 198) 0%, 
rgb(35, 170, 194) 10%, 
rgba(52,177,217,1) 20%, 
rgb(95, 224, 226) 35%, 
rgb(105, 217, 231) 40%, 
rgba(77,193,224,1) 50%, 
rgba(35,166,213,1) 60%, 
rgba(128,132,239,1) 70%, 
rgba(51,176,217,1) 90%, 
rgba(209,127,244,1) 100%);

$red-background-gradient: linear-gradient(45deg, 
rgba(139,68,179,0.8) 0%, 
rgba(158,62,151,1) 10%, 
rgba(183,55,114,0.8) 15%, 
rgba(214,50,84,0.8) 40%, 
rgba(217,60,85,0.8) 60%, 
rgba(229,107,87,0.8) 75%, 
rgba(240,149,90,1) 95%, 
rgba(248, 186, 62, 0.8) 100%);

$green-background-gradient: linear-gradient(-60deg, 
rgba(76,230,204,1) 0%, 
rgba(139,238,191,1) 10%, 
rgba(206,248,174,0.9) 25%, 
rgba(106,230,146,0.8) 40%, 
rgba(48,211,168,1) 55%, 
rgba(59,207,187,0.9) 75%, 
rgba(67,187,228,0.9) 85%, 
rgba(68,245,253,1) 95%, 
rgba(144,205,250,1) 100%);

