<div class="calculator-container">
  <div class="datetime-picker">
    <mat-form-field>
      <label for="dateTime"><small>Select a date and time</small></label>
      <input matInput 
            id="dateTime"
            [ngxMatDatetimePicker]="picker"
            [formControl]="dateControl">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <ngx-mat-datetime-picker #picker [enableMeridian]="true"></ngx-mat-datetime-picker>
    </mat-form-field>
  </div>
  <div class="message">
    <span *ngIf="date">Selected date and time: <strong>{{ date.toLocaleString() }}</strong></span>
    <h1>{{ message }}</h1>
    <h5>{{ subMessage }}</h5>
  </div>
</div>

